@keyframes circle {
  0 { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no {display:none}
.centr {vertical-align:middle;display:inline-block;}
.mv { transition: transform 0.2s ease-in-out; }
.mv:hover { transition-property: transform; transition-duration: 0.2s; animation: none; transform: scale(1.7); cursor:pointer;}
.td { display:table }
.mv0 { transition: transform 0.2s ease-in-out; }
.mv0:hover { transition-property: transform; transition-duration: 0.2s; animation: none; transform: scale(1.1); cursor:pointer;}


/*img {max-width: 100% !important; height: auto !important;}*/
iframe, textarea, input, button, submit, select, video, object, embed {max-width: 99% !important;}

.rama {border:1px solid #ccc; box-shadow:0px 15px 15px 15px rgba(0,0,0,0.6); border-radius: 7px 7px 7px 7px; padding: 15px 15px 15px 15px;}
.foto {border:0px solid #ccc; box-shadow:0px 1px 1px 1px rgba(0,0,0,0.6); border-radius: 17px 17px 17px 17px; }

.c2 .il div { margin-left: 3px; }
/* тень при активном окне */
.tenek { pointer-events:none; background:rgba(0,0,0,0.5);position:fixed;top:0;left:0;right:0;bottom:0; }
.ik { cursor:pointer; border: 1px solid red; box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6); border-radius: 7px 7px 7px 7px; padding: 15px 15px 15px 15px; }
/* рамка форм - мне так нравится */
.t { border: 1px solid #330000; }
.r { font-size: 12px; }
.us { user-select: none; }
.in { display: inline-block; }
.l,.ll { cursor: pointer; color: blue; text-decoration: underline; } .ll,.il { display: inline; }
.l:hover,.ll:hover { color: violet; }
.kr:hover,.kus:hover,.kd:hover,.ked:hover,.ks0:hover,.ks1:hover,.ka:hover,.ko1:hover,.ko0:hover,.kou:hover { color: violet; }
/* кнопки панели управления */
.knop { border: 1px solid #ccc; margin-left: 1px;}
.knop:hover { border: 1px solid black; }
.noa {color:black; text-decoration: none; }
.noa:hover {color:#ccc;}
/* фотоальбом */
#bigfoto { box-sizing: border-box; }
#bigfostr { width: 100% !important; }
/* комментарии */
.opc, .cnam, .rul1,.rul0 {cursor: pointer}
.rul1,.rul0,.cplu,.cmin,.kmail {float:left}
.c0 /*, .c1, .c2, .c3, .c4, .c5, .c6*/ {
font: 80% sans-serif, Helvetica, Arial, Verdana; max-width: 60%; border: 1px solid #bbb;
/* IE */ filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#888888, strength=10);
box-shadow: #888 5px 5px 5px; border-radius: 0.8em 0.8em 0.8em 0.8em; overflow: auto;
padding: 0.8em 0.8em 0.8em 0.8em;
margin: 2.4em 0 0 2.4em;
}

/* кнопки */
.br { font-size: 10px; }
.search { font-weight: bold; color: black; background-color: rgb(255, 204, 0); }
p.d {text-align:justify;text-indent:5%;margin-top:0pt;margin-bottom:0pt;}
p.pd {text-align:justify;text-indent:5%;margin-top:2%;margin-bottom:0pt;}
p.name {text-indent:0pt;margin-top:4%;margin-bottom:6%;text-align:center;font-weight:bold;font-size:150%;}
p.podp {text-indent:0pt;margin-top:30pt;margin-bottom:12%;text-align:right;font-style:italic;}

p.zz {
margin: 4% auto 1% 4%;
font-weight:bold;
text-align:left;
font-size: 160%;
text-indent: 5%;
border-bottom: 1px solid transparent;
display:inline-block;
white-space: nowrap;
background: linear-gradient(to left, white, #3D4852, white 90%);
background-position: 0 100%;
background-size: 100% 2px;
background-repeat: repeat-x;
}

.legend {
  display: table;
  background-color: #F0F0EA;
  overflow: hidden;
  font-weight: bold;
  color: #FF6200;
  font-size: 14px;
  text-align: left;
  border: 2px solid #FF6200;
  border-radius: 20px;
  padding: 2px 30px 2px 30px;
  margin: -32px 20px 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textbody { padding: 20px; position:relative; margin:0px; padding:0px; border-radius: 3px; width:100% }

pop2 { EEEEEmax-width:95%; cursor:move; overflow:visible; top:100px;position:absolute;z-index:999; text-align:left; background:#F0F0EA;
border:5px solid #e75100;box-shadow:0px 16px 16px 16px rgba(0,0,0,0.6);border-radius:16px 16px 16px 16px;
padding:16px 16px 16px 16px;
margin:20px 20px 20px 10px;
word-wrap: break-word;
}
.pop2 TEXTAREA {width:100%;}
.can { position:absolute; right:-19px;top:-19px; width:32px; height:32px; cursor:pointer; }
#salert { z-index:200 !important; }
LEGEND { font-weight: bold; color: #FF6200; font-size: 14px; text-align: left; }
.clearfloat,.cf,.q { clear:both; height:0; font-size: 1px; line-height: 0px; }
.qTip {
padding: 5px; border: 1px solid #666; border-right-width: 2px; border-bottom-width: 2px;
background: #999; color: #FFF; font: bold 11px Verdana, Arial, sans-serif;
text-align: left; position: absolute; z-index: 999999; max-width: 30%;
}
    /* Popups with arrows
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-popup {
    position: absolute;
    font-size:12px;
    z-index: 99999;
    background-color:transparent;
    }
    .b-popup input,
    .b-popup div,
    .b-popup strong,
    .b-popup label { color:#000; }
    .b-popup-outer {
position: relative;
padding: 1px;
background: #FFF;
border: 1px solid #CCC;
border-radius: 7px;
        box-shadow: 0 0 20px 10px #555;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
z-index: 99999;
}
    .b-popup-inner {
padding: 10px 15px;
border: 1px solid #E7E7E7;
border-radius: 7px;
}
    /* Put here styles for popups that need to reset */
    .b-popup,
    .b-popup-outer,
    .b-popup-inner,
    .popup-inner,
    .w-cs-filter-inner,
    .w-cs-filter-sort,
    .b-sharethis,.b-sharethis-services { float: none; }
    .b-popup-withclosecontrol .b-popup-inner { padding: 10px 25px 10px 15px; }
    .i-popup-arr,
    .i-popup-arr-brdr-outer,
    .i-popup-arr-brdr-inner,
    .i-popup-arr-bg {
position: absolute;
width: 0;
height: 0;
font: 0/0 serif;
}
    .b-popup-inner A,
    .b-popup-inner A:link,
    .b-popup-inner A:visited,
    .b-popup-inner A:hover,
    .b-popup-inner A:active { color: #036; }
    .i-popup-arrt.i-popup-arr,
    .i-popup-arrtl.i-popup-arr,
    .i-popup-arrtr.i-popup-arr {
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid #CCC;
}
    .i-popup-arrt .i-popup-arr-brdr-outer,
    .i-popup-arrtl .i-popup-arr-brdr-outer,
    .i-popup-arrtr .i-popup-arr-brdr-outer {
top: 1px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid #FFF;
}
    .i-popup-arrt .i-popup-arr-brdr-inner,
    .i-popup-arrtl .i-popup-arr-brdr-inner,
    .i-popup-arrtr .i-popup-arr-brdr-inner {
top: 2px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid #E7E7E7;
}
    .i-popup-arrt .i-popup-arr-bg,
    .i-popup-arrtl .i-popup-arr-bg,
    .i-popup-arrtr .i-popup-arr-bg {
top: 4px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid #FFF;
}
    .i-popup-arrb.i-popup-arr,
    .i-popup-arrbl.i-popup-arr,
    .i-popup-arrbr.i-popup-arr {
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-top: 6px solid #CCC;
}
    .i-popup-arrb .i-popup-arr-brdr-outer,
    .i-popup-arrbl .i-popup-arr-brdr-outer,
    .i-popup-arrbr .i-popup-arr-brdr-outer {
bottom: 1px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-top: 6px solid #FFF;
}
    .i-popup-arrb .i-popup-arr-brdr-inner,
    .i-popup-arrbl .i-popup-arr-brdr-inner,
    .i-popup-arrbr .i-popup-arr-brdr-inner {
bottom: 2px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-top: 6px solid #E7E7E7;
}
    .i-popup-arrb .i-popup-arr-bg,
    .i-popup-arrbl .i-popup-arr-bg,
    .i-popup-arrbr .i-popup-arr-bg {
bottom: 4px;
left: -6px;
/*border-left: 6px solid transparent;border-right: 6px solid transparent;*/
border-left: 6px solid rgba(255,255,255,.01);
border-right: 6px solid rgba(255,255,255,.01);
border-top: 6px solid #FFF;
}
    .i-popup-arrl.i-popup-arr,
    .i-popup-arrlt.i-popup-arr,
    .i-popup-arrlb.i-popup-arr {
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-right: 6px solid #CCC;
}
    .i-popup-arrl .i-popup-arr-brdr-outer,
    .i-popup-arrlt .i-popup-arr-brdr-outer,
    .i-popup-arrlb .i-popup-arr-brdr-outer {
left: 1px;
top: -6px;
/*border-top: 6px solid transparent;border-bottom: 6px solid transparent;*/
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-right: 6px solid #FFF;
}
    .i-popup-arrl .i-popup-arr-brdr-inner,
    .i-popup-arrlt .i-popup-arr-brdr-inner,
    .i-popup-arrlb .i-popup-arr-brdr-inner {
left: 2px;
top: -6px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-right: 6px solid #E7E7E7;
}
    .i-popup-arrl .i-popup-arr-bg,
    .i-popup-arrlt .i-popup-arr-bg,
    .i-popup-arrlb .i-popup-arr-bg {
left: 4px;
top: -6px;
/*border-top: 6px solid transparent;border-bottom: 6px solid transparent;*/
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-right: 6px solid #FFF;
}
    .i-popup-arrr.i-popup-arr,
    .i-popup-arrrt.i-popup-arr,
    .i-popup-arrrb.i-popup-arr {
/*border-top: 6px solid transparent;border-bottom: 6px solid transparent;*/
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-left: 6px solid #CCC;
}
    .i-popup-arrr .i-popup-arr-brdr-outer,
    .i-popup-arrrt .i-popup-arr-brdr-outer,
    .i-popup-arrrb .i-popup-arr-brdr-outer {
right: 1px;
top: -6px;
/*border-top: 6px solid transparent;border-bottom: 6px solid transparent;*/
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-left: 6px solid #FFF;
}
    .i-popup-arrr .i-popup-arr-brdr-inner,
    .i-popup-arrrt .i-popup-arr-brdr-inner,
    .i-popup-arrrb .i-popup-arr-brdr-inner {
right: 2px;
top: -6px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-left: 6px solid #E7E7E7;
}
    .i-popup-arrr .i-popup-arr-bg,
    .i-popup-arrrt .i-popup-arr-bg,
    .i-popup-arrrb .i-popup-arr-bg {
right: 4px;
top: -6px;
/*border-top: 6px solid transparent;border-bottom: 6px solid transparent;*/
border-top: 6px solid rgba(255,255,255,.01);
border-bottom: 6px solid rgba(255,255,255,.01);
border-left: 6px solid #FFF;
}
    .i-popup-arrt { top: -7px; left: 50%; margin: 0 0 0 -6px; }
    .i-popup-arrtl { top: -7px; left: 31px; }
    .i-popup-arrtr { top: -7px; right: 31px; }
    .i-popup-arrb { bottom: -7px; left: 50%; margin: 0 0 0 -6px; }
    .i-popup-arrbl { bottom: -7px; left: 31px; }
    .i-popup-arrbr { bottom: -7px; right: 31px; }
    .i-popup-arrl { top: 50%; left: -7px; margin: -6px 0 0; }
    .i-popup-arrlt { top: 15px; left: -7px; }
    .i-popup-arrlb { bottom: 15px; left: -7px; }
    .i-popup-arrr { top: 50%; right: -7px; margin: -6px 0 0; }
    .i-popup-arrrt { top: 15px; right: -7px; }
    .i-popup-arrrb { bottom: 15px; right: -7px; }
/* BLOKI */
.thmbns {margin: -3em 0 0 -2em; text-align:center;}
.thmbn {text-decoration:none; display:inline-block; vertical-align:top; text-align:left; margin:3em 0 0 2em;}
.thmbn .rth {float:left;}

/* ВСЕ ИКОНКИ */
.e_14_layer_deletelayer,.e_DiKiJ_l,.e_DiKiJ_r,.e__,.e_bird16,.e_blend,.e_bold,.e_button_accept,.e_button_cancel,.e_cancel,.e_cancel1,.e_color_line,.e_copy,.e_crop,.e_d,.e_document-revert,.e_edit-clear,.e_emptytrash,.e_expand_leaf,.e_expand_minus,.e_expand_plus,.e_false,.e_fido,.e_filenew,.e_finish,.e_foto,.e_gnome-help,.e_help,.e_i,.e_i_half,.e_ico-apple,.e_ico-binoniq,.e_ico-blogspot,.e_ico-facebook,.e_ico-google,.e_ico-instagram,.e_ico-livejournal,.e_ico-ljrossia,.e_ico-lleo,.e_ico-mailru,.e_ico-moikrug,.e_ico-myopenid,.e_ico-openid,.e_ico-twitter,.e_ico-vk,.e_ico-wikipedia,.e_ico-ya,.e_ico-yandex,.e_ico-youtube,.e_image,.e_italic,.e_jump-to,.e_justifycenter,.e_kgpg_photo,.e_kmail,.e_kontact_journal,.e_kontact_notes,.e_kr_invert,.e_kviewshell,.e_ledblue,.e_ledgreen,.e_ledlightblue,.e_ledlightgreen,.e_ledorange,.e_ledpurple,.e_ledred,.e_ledyellow,.e_link,.e_list-add,.e_list-remove,.e_ljuser,.e_ljvideo,.e_ltgt,.e_mail,.e_mail_forward,.e_mdash,.e_mob-ball,.e_mobilemenu,.e_n,.e_nbsp,.e_no,.e_pd,.e_play-youtube,.e_podzamok,.e_post-entry,.e_redo-ltr,.e_redo,.e_reload_page,.e_remove,.e_rotate_left,.e_rotate_right,.e_rss,.e_strikethrough,.e_system,.e_tableb1,.e_tableb2,.e_tableb3,.e_tableb_1,.e_tableb_pre,.e_tableb_r,.e_true,.e_twitter,.e_underline,.e_viewmagm,.e_viewmagp,.e_yes {display:inline-block;vertical-align:baseline;position:relative;overflow:hidden;font-size:0;line-height:0;margin:0;padding:0}
.e_14_layer_deletelayer{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 0px;width:16px;height:16px}
.e_DiKiJ_l{background:url(/design/ico.webp) no-repeat 0 34px;background-position:0 -16px;width:34px;height:38px}
.e_DiKiJ_r{background:url(/design/ico.webp) no-repeat 0 34px;background-position:0 -54px;width:34px;height:38px}
.e__{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -92px;width:21px;height:21px}
.e_bird16{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -113px;width:16px;height:16px}
.e_blend{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -129px;width:16px;height:16px}
.e_bold{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -145px;width:21px;height:21px}
.e_button_accept{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -166px;width:16px;height:16px}
.e_button_cancel{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -182px;width:16px;height:16px}
.e_cancel{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -198px;width:16px;height:16px}
.e_cancel1{background:url(/design/ico.webp) no-repeat 0 8px;background-position:0 -214px;width:8px;height:8px}
.e_color_line{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -222px;width:16px;height:16px}
.e_copy{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -238px;width:21px;height:21px}
.e_crop{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -259px;width:16px;height:16px}
.e_d{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -275px;width:21px;height:21px}
.e_document-revert{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -296px;width:16px;height:16px}
.e_edit-clear{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -312px;width:16px;height:16px}
.e_emptytrash{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -328px;width:16px;height:16px}
.e_expand_leaf{background:url(/design/ico.webp) no-repeat 0 18px;background-position:0 -344px;width:18px;height:18px}
.e_expand_minus{background:url(/design/ico.webp) no-repeat 0 18px;background-position:0 -362px;width:18px;height:18px}
.e_expand_plus{background:url(/design/ico.webp) no-repeat 0 18px;background-position:0 -380px;width:18px;height:18px}
.e_false{background:url(/design/ico.webp) no-repeat 0 32px;background-position:0 -398px;width:32px;height:32px}
.e_fido{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -430px;width:16px;height:16px}
.e_filenew{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -446px;width:16px;height:16px}
.e_finish{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -462px;width:16px;height:16px}
.e_foto{background:url(/design/ico.webp) no-repeat 0 22px;background-position:0 -478px;width:22px;height:22px}
.e_gnome-help{background:url(/design/ico.webp) no-repeat 0 22px;background-position:0 -500px;width:22px;height:22px}
.e_help{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -522px;width:16px;height:16px}
.e_i{background:url(/design/ico.webp) no-repeat 0 18px;background-position:0 -538px;width:18px;height:18px}
.e_i_half{background:url(/design/ico.webp) no-repeat 0 18px;background-position:0 -556px;width:18px;height:18px}
.e_ico-apple{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -574px;width:16px;height:16px}
.e_ico-binoniq{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -590px;width:16px;height:16px}
.e_ico-blogspot{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -606px;width:16px;height:16px}
.e_ico-facebook{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -622px;width:16px;height:16px}
.e_ico-google{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -638px;width:16px;height:16px}
.e_ico-instagram{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -654px;width:16px;height:16px}
.e_ico-livejournal{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -670px;width:16px;height:16px}
.e_ico-ljrossia{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -686px;width:16px;height:16px}
.e_ico-lleo{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -702px;width:16px;height:16px}
.e_ico-mailru{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -718px;width:16px;height:16px}
.e_ico-moikrug{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -734px;width:16px;height:16px}
.e_ico-myopenid{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -750px;width:16px;height:16px}
.e_ico-openid{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -766px;width:16px;height:16px}
.e_ico-twitter{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -782px;width:16px;height:16px}
.e_ico-vk{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -798px;width:16px;height:16px}
.e_ico-wikipedia{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -814px;width:16px;height:16px}
.e_ico-ya{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -830px;width:16px;height:16px}
.e_ico-yandex{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -846px;width:16px;height:16px}
.e_ico-youtube{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -862px;width:16px;height:16px}
.e_image{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -878px;width:21px;height:21px}
.e_italic{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -899px;width:21px;height:21px}
.e_jump-to{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -920px;width:16px;height:16px}
.e_justifycenter{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -936px;width:21px;height:21px}
.e_kgpg_photo{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -957px;width:16px;height:16px}
.e_kmail{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -973px;width:16px;height:16px}
.e_kontact_journal{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -989px;width:16px;height:16px}
.e_kontact_notes{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1005px;width:16px;height:16px}
.e_kr_invert{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1021px;width:16px;height:16px}
.e_kviewshell{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1037px;width:16px;height:16px}
.e_ledblue{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1053px;width:16px;height:16px}
.e_ledgreen{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1069px;width:16px;height:16px}
.e_ledlightblue{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1085px;width:16px;height:16px}
.e_ledlightgreen{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1101px;width:16px;height:16px}
.e_ledorange{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1117px;width:16px;height:16px}
.e_ledpurple{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1133px;width:16px;height:16px}
.e_ledred{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1149px;width:16px;height:16px}
.e_ledyellow{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1165px;width:16px;height:16px}
.e_link{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1181px;width:21px;height:21px}
.e_list-add{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1202px;width:16px;height:16px}
.e_list-remove{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1218px;width:16px;height:16px}
.e_ljuser{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1234px;width:21px;height:21px}
.e_ljvideo{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1255px;width:21px;height:21px}
.e_ltgt{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1276px;width:21px;height:21px}
.e_mail{background:url(/design/ico.webp) no-repeat 0 20px;background-position:0 -1297px;width:20px;height:20px}
.e_mail_forward{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1317px;width:16px;height:16px}
.e_mdash{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1333px;width:21px;height:21px}
.can,.e_mob-ball{background:url(/design/ico.webp) no-repeat 0 32px;background-position:0 -1354px;width:32px;height:32px}
.e_mobilemenu{background:url(/design/ico.webp) no-repeat 0 64px;background-position:0 -1386px;width:64px;height:64px}
.e_n{background:url(/design/ico.webp) no-repeat 0 12px;background-position:0 -1450px;width:12px;height:12px}
.e_nbsp{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1462px;width:21px;height:21px}
.e_no{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1483px;width:16px;height:16px}
.e_pd{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1499px;width:21px;height:21px}
.e_play-youtube{background:url(/design/ico.webp) no-repeat 0 32px;background-position:0 -1520px;width:32px;height:32px}
.e_podzamok{background:url(/design/ico.webp) no-repeat 0 14px;background-position:0 -1552px;width:14px;height:15px}
.e_post-entry{background:url(/design/ico.webp) no-repeat 0 20px;background-position:0 -1567px;width:20px;height:18px}
.e_redo-ltr{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1585px;width:16px;height:16px}
.e_redo{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1601px;width:16px;height:16px}
.e_reload_page{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1617px;width:16px;height:16px}
.e_remove{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1633px;width:16px;height:16px}
.e_rotate_left{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1649px;width:16px;height:16px}
.e_rotate_right{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1665px;width:16px;height:16px}
.e_rss{background:url(/design/ico.webp) no-repeat 0 36px;background-position:0 -1681px;width:36px;height:14px}
.e_strikethrough{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1695px;width:21px;height:21px}
.e_system{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1716px;width:16px;height:16px}
.e_tableb1{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1732px;width:21px;height:21px}
.e_tableb2{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1753px;width:21px;height:21px}
.e_tableb3{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1774px;width:21px;height:21px}
.e_tableb_1{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1795px;width:21px;height:21px}
.e_tableb_pre{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1816px;width:21px;height:21px}
.e_tableb_r{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1837px;width:21px;height:21px}
.e_true{background:url(/design/ico.webp) no-repeat 0 32px;background-position:0 -1858px;width:32px;height:32px}
.e_twitter{background:url(/design/ico.webp) no-repeat 0 22px;background-position:0 -1890px;width:22px;height:22px}
.e_underline{background:url(/design/ico.webp) no-repeat 0 21px;background-position:0 -1912px;width:21px;height:21px}
.e_viewmagm{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1933px;width:16px;height:16px}
.e_viewmagp{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1949px;width:16px;height:16px}
.e_yes{background:url(/design/ico.webp) no-repeat 0 16px;background-position:0 -1965px;width:16px;height:16px}
